.main {
    -webkit-mask-image: url("/images/mask.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("/images/mask.svg");
    /* Apply the mask image to modern browsers */
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: aliceblue;
    transition: translate 300ms ease-in-out;
}
